/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @dariuszkuc @sachindshinde @goto-bus-stop @SimonSapin @lrlna @TylerBloom @duckki
/apollo-federation/src/sources/connect @apollographql/connectors
/apollo-router/ @apollographql/router-core @apollographql/fed-core
/apollo-router-benchmarks/ @apollographql/router-core @apollographql/fed-core
/apollo-router-scaffold/ @apollographql/router-core @apollographql/fed-core
/examples/ @apollographql/router-core @apollographql/fed-core
/.github/CODEOWNERS @apollographql/router-core @apollographql/fed-core
