/apollo-federation/ @apollographql/orchestration-language @apollographql/graphos
/apollo-router/ @apollographql/graphos
/apollo-router/src/plugins/connectors @apollographql/orchestration-language @apollographql/graphos
/apollo-router/src/plugins/fleet_detector.rs @apollographql/runtime-readiness @apollographql/graphos
/apollo-router-benchmarks/ @apollographql/graphos @apollographql/orchestration-language
/examples/ @apollographql/graphos
/.github/CODEOWNERS @apollographql/graphos
