/docs/ @apollographql/docs
/.changesets/ @apollographql/docs
/apollo-federation/ @apollographql/fed-core
/apollo-federation/src/sources/connect @apollographql/connectors
/apollo-router/ @apollographql/polaris @apollographql/fed-core
/apollo-router/src/plugins/connectors @apollographql/connectors
/apollo-router-benchmarks/ @apollographql/polaris @apollographql/fed-core
/apollo-router-scaffold/ @apollographql/polaris @apollographql/fed-core
/examples/ @apollographql/polaris @apollographql/fed-core
/.github/CODEOWNERS @apollographql/polaris @apollographql/fed-core
