[workspace]
default-members = ["apollo-router", "apollo-router-core"]
members = [
    "apollo-relay",
    "apollo-router",
    "apollo-router-core",
    "apollo-router-benchmarks",
    "xtask",
]

[patch.crates-io]
opentelemetry = { git = "https://github.com/open-telemetry/opentelemetry-rust.git", rev = "6b3aa02aa" }
opentelemetry-otlp = { git = "https://github.com/open-telemetry/opentelemetry-rust.git", rev = "6b3aa02aa" }
