[package]
name = "strawdog"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
typed-builder = "0.9.1"
async-trait = "0.1.52"
tokio = { version = "1", features = ["full"] }
