[workspace]
default-members = ["apollo-router"]
members = [
    "apollo-spaceport",
    "apollo-router",
    "apollo-router-benchmarks",
    "apollo-router-scaffold",
    "examples/add-timestamp-header",
    "examples/async-auth",
    "examples/cookies-to-headers",
    "examples/embedded",
    "examples/context",
    "examples/forbid-anonymous-operations",
    "examples/hello-world",
    "examples/status-code-propagation",
    "examples/op-name-to-header",
    "examples/rhai-logging",
    "examples/rhai-data-response-mutate",
    "examples/rhai-error-response-mutate",
    "examples/rhai-subgraph-request-log",
    "examples/rhai-surrogate-cache-key",
    "examples/jwt-auth",
    "fuzz",
    "uplink",
    "xtask",
]

# this makes build scripts and proc macros faster to compile
[profile.dev.build-override]
# If you un-comment the next line with 1.60.0, compile fails on circle-ci linux
# debug = false
strip = "debuginfo"
incremental = false
