[workspace]
default-members = ["apollo-router", "apollo-router-core"]
members = [
    "apollo-spaceport",
    "apollo-router",
    "apollo-router-core",
    "apollo-router-benchmarks",
    "examples/async-allow-client-id",
    "examples/compose-your-graphql-router",
    "examples/cookies-to-headers",
    "examples/context-data",
    "examples/forbid-anonymous-operations",
    "examples/hello-world",
    "examples/jwt-auth",
    "fuzz",
    "uplink",
    "xtask",
]
