[workspace]
resolver = "2"
default-members = ["apollo-router"]
members = [
    "apollo-router",
    "apollo-router-benchmarks",
    "apollo-router-scaffold",
    "examples/add-timestamp-header/rhai",
    "examples/async-auth/rust",
    "examples/cache-control/rhai",
    "examples/context/rust",
    "examples/cookies-to-headers/rhai",
    "examples/data-response-mutate/rhai",
    "examples/error-response-mutate/rhai",
    "examples/forbid-anonymous-operations/rhai",
    "examples/forbid-anonymous-operations/rust",
    "examples/hello-world/rust",
    "examples/jwt-claims/rhai",
    "examples/logging/rhai",
    "examples/op-name-to-header/rhai",
    "examples/status-code-propagation/rust",
    "examples/subgraph-request-log/rhai",
    "examples/supergraph-sdl/rust",
    "examples/surrogate-cache-key/rhai",
    "examples/coprocessor-subgraph/rust",
    "examples/throw-error/rhai",
    "fuzz",
    # Note that xtask is not in the workspace member because it relies on dependencies that are incompatible with the router. Notably hyperx but there are others.
]

# this makes build scripts and proc macros faster to compile
[profile.dev.build-override]
# If you un-comment the next line with 1.60.0, compile fails on circle-ci linux
# debug = false
strip = "debuginfo"
incremental = false

# If building a dhat feature, you must use this profile
# e.g. heap allocation tracing: cargo build --profile release-dhat --features dhat-heap
# e.g. heap and ad-hoc allocation tracing: cargo build --profile release-dhat --features dhat-heap,dhat-ad-hoc
[profile.release-dhat]
inherits = "release"
debug = 1
