version: "3.9"
services:
  redis:
    image: redis:latest
    ports:
      - 6379:6379
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - 6831:6831/udp
      - 6832:6832/udp
      - 16686:16686
      - 14268:14268