version: "3.9"
services:
  redis:
    image: redis:latest
    security_opt:
      - no-new-privileges:true
    read_only: true
    ports:
      - 6379:6379
  postgres:
    image: cimg/postgres:17.6
    security_opt:
      - no-new-privileges:true
    environment:
      POSTGRES_USER: ${USER}
      POSTGRES_DB: ${USER}
    ports:
      - 5432:5432
  zipkin:
    image: openzipkin/zipkin:latest
    security_opt:
      - no-new-privileges:true
    read_only: true
    ports:
      - 9411:9411
  datadog:
    image: ghcr.io/datadog/dd-apm-test-agent/ddapm-test-agent:latest
    security_opt:
      - no-new-privileges:true
    read_only: true
    ports:
      - 8126:8126
