version: "3.9"
services:

  services:
    build: dockerfiles/federation-demo
    ports:
      - 4100:4000
      - 4001:4001
      - 4002:4002
      - 4003:4003
      - 4004:4004
    command: npm run start
    environment:
      - JAEGER_HOST=jaeger

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - 6831:6831/udp
      - 6832:6832/udp
      - 16686:16686
      - 14268:14268
