[package]
name = "apollo-router-core"
version = "0.1.0-alpha.4"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license-file = "./LICENSE"

[features]
# Prevents the query execution to continue if any error occurs while fetching
# the data of a subgraph. This is useful in development as you want to be
# alerted early when something is wrong instead of receiving an invalid result.
failfast = []

[dependencies]
apollo-parser = "0.2.1"
async-trait = "0.1.52"
atty = "0.2.14"
bytes = "1.1.0"
derivative = "2.2.0"
displaydoc = "0.2"
futures = "0.3.19"
http = "0.2.6"
include_dir = "0.7.2"
lru = "0.7.2"
miette = { version = "3.3.0", features = ["fancy"] }
mockall = "0.11.0"
moka = { version = "0.6.1", features = ["future", "futures-util"] }
once_cell = "1.9.0"
paste = "1.0.6"
reqwest = { version = "0.11.9", features = ["json", "stream"] }
reqwest-middleware = "0.1.3"
reqwest-tracing = { version = "0.2", features = ["opentelemetry_0_16"] }
router-bridge = { git = "https://github.com/apollographql/federation-rs.git", rev = "6f1a7033d03ff7310644d033508256dcf759a602" }
serde = { version = "1.0.136", features = ["derive", "rc"] }
serde_json = { version = "1.0.78", features = ["preserve_order"] }
serde_json_bytes = { version = "0.2.0", features = ["preserve_order"] }
serde_urlencoded = "0.7.1"
static_assertions = "1.1.0"
thiserror = "1.0.30"
tokio = { version = "1.16.1", features = ["rt", "sync"] }
tower = { version = "0.4.11", features = ["util", "buffer"] }
tower-service = "0.3.1"
tower-test = "0.4.0"
tracing = "0.1.30"
tracing-futures = "0.2.5"
typed-builder = "0.9.1"
url = "2.2.2"
urlencoding = "2.1.0"

[dev-dependencies]
insta = "1.11.0"
mockall = "0.11.0"
static_assertions = "1"
test-log = { version = "0.2.8", default-features = false, features = ["trace"] }
tokio = { version = "1", features = ["full"] }
tracing-subscriber = { version = "0.3", default-features = false, features = [
    "env-filter",
    "fmt",
] }
