[package]
name = "apollo-router-core"
version = "0.1.0-alpha.2"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license-file = "./LICENSE"

[features]
# Prevents the query execution to continue if any error occurs while fetching
# the data of a subgraph. This is useful in development as you want to be
# alerted early when something is wrong instead of receiving an invalid result.
failfast = []

[dependencies]
apollo-parser = { git = "https://github.com/apollographql/apollo-rs.git", rev = "5f8a51b4c47e842bda5095604c6f60caefd4975b" }
async-trait = "0.1.52"
atty = "0.2.14"
derivative = "2.2.0"
displaydoc = "0.2"
futures = "0.3.18"
include_dir = "0.7.2"
lru = "0.7.0"
miette = { version = "3.2.0", features = ["fancy"] }
once_cell = "1.8.0"
router-bridge = { path = "../../federation/router-bridge" }                                                                  # git = "https://github.com/apollographql/federation.git", rev = "a4b27cc0ca4ccd1d6ec69fa6c1d146faee3eb27a" }
serde = { version = "1.0.131", features = ["derive", "rc"] }
serde_json = { version = "1.0.72", features = ["preserve_order"] }
thiserror = "1.0.30"
tokio = { version = "1.14.0", features = ["rt"] }
tracing = "0.1.29"
tracing-futures = "0.2.5"
typed-builder = "0.9.1"

[dev-dependencies]
insta = "1.8.0"
mockall = "0.10.2"
static_assertions = "1"
test-log = { version = "0.2.8", default-features = false, features = ["trace"] }
tokio = { version = "1", features = ["full"] }
tracing-subscriber = { version = "0.3", default-features = false, features = [
    "env-filter",
    "fmt",
] }
