[package]
name = "apollo-router-scaffold"
version = "0.9.2"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license = "Elastic-2.0"
publish = false

[dependencies]
anyhow = "1.0.56"
clap = { version = "3.1.8", features = ["derive"] }
cargo-scaffold = "0.7.0"
regex = "1"
str_inflector = "0.12.0"
toml = "0.5.8"
[dev-dependencies]
tempfile = "3.3.0"
