[package]
name = "apollo-router-scaffold"
version = "0.12.0"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license = "Elastic-2.0"
publish = false

[dependencies]
anyhow = "1.0.58"
clap = { version = "3.2.10", features = ["derive"] }
cargo-scaffold = { version = "0.8.4", default-features = false }
regex = "1"
str_inflector = "0.12.0"
toml = "0.5.9"
[dev-dependencies]
tempfile = "3.3.0"
copy_dir = "0.1.2"
