[package]
name = "apollo-router-scaffold"
version = "1.30.1"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license = "Elastic-2.0"
publish = false

[dependencies]
anyhow = "1.0.75"
clap = { version = "4.4.4", features = ["derive"] }
cargo-scaffold = { version = "0.8.10", default-features = false }
regex = "1"
str_inflector = "0.12.0"
toml = "0.5.11"
[dev-dependencies]
tempfile = "3.8.0"
copy_dir = "0.1.3"
