[package]
name = "apollo-router-scaffold"
version = "1.22.0-alpha.0"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license = "Elastic-2.0"
publish = false

[dependencies]
anyhow = "1.0.71"
clap = { version = "4.3.3", features = ["derive"] }
cargo-scaffold = { version = "0.8.9", default-features = false }
regex = "1"
str_inflector = "0.12.0"
toml = "0.5.11"
[dev-dependencies]
tempfile = "3.6.0"
copy_dir = "0.1.2"
