[package]
name = "apollo-router-scaffold"
version = "1.11.0"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license = "Elastic-2.0"
publish = false

[dependencies]
anyhow = "1.0.68"
clap = { version = "4.1.4", features = ["derive"] }
cargo-scaffold = { version = "0.8.7", default-features = false }
regex = "1"
str_inflector = "0.12.0"
toml = "0.7.2"
[dev-dependencies]
tempfile = "3.3.0"
copy_dir = "0.1.2"
