[package]
name = "xtask"
version = "0.1.0-prealpha.1"
authors = ["Apollo Developers <opensource@apollographql.com>"]
edition = "2018"
license-file = "./LICENSE"

[dependencies]
ansi_term = "0.12"
assert_fs = "1"
anyhow = "1"
base64 = "0.13"
camino = "1.0"
cargo_metadata = "0.14"
flate2 = "1.0"
lazy_static = "1.4"
libc = "0.2"
regex = "1"
reqwest = { version = "0.11", default-features = false, features = ["blocking", "native-tls"]}
semver = "1"
serde_json = "1"
serde_json_traversal = "0.2"
structopt = { version = "0.3", default-features = false }
tar = "0.4"
tempfile = "3"
which = "4.2"
walkdir = "2.3"
zip = { version = "0.5", default-features = false }
