[package]
name = "xtask"
version = "0.12.0"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license = "LicenseRef-ELv2"
publish = false

[dependencies]
ansi_term = "0.12"
anyhow = "1"
base64 = "0.13"
camino = "1"
cargo_metadata = "0.15"
flate2 = "1"
libc = "0.2"
once_cell = "1"
reqwest = { version = "0.11", default-features = false, features = [
    "blocking",
    "native-tls",
] }
serde_json = "1"
serde_json_traversal = "0.2"
structopt = { version = "0.3", default-features = false }
tar = "0.4"
tempfile = "3"
which = "4"
zip = { version = "0.6", default-features = false }
sha2 = "0.10"
