version: "3.9"
services:

  apollo-router:
    container_name: apollo-router
    #build: ./router
    image: ghcr.io/apollographql/router:v1.4.0
    volumes:
      - ./supergraph.graphql:/etc/config/supergraph.graphql
      - ./router/jaeger.router.yaml:/etc/config/configuration.yaml
    command:
      [
        "-c",
        "/etc/config/configuration.yaml",
        "-s",
        "/etc/config/supergraph.graphql",
        "--log",
        "info"
      ]
    ports:
      - 4000:4000
    depends_on:
      - jaeger

  subgraph:
    build: jaeger-subgraph
    ports:
      - 4001:4001
    environment:
      - JAEGER_SERVICE_NAME=accounts
      - JAEGER_AGENT_HOST=jaeger
      - JAEGER_AGENT_PORT=6832
    depends_on:
      - jaeger

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - 6831:6831/udp
      - 6832:6832/udp
      - 16686:16686
      - 14268:14268
