version: "3.9"
services:

  apollo-router:
    container_name: apollo-router
    build: ./router
    image: ghcr.io/apollographql/router:v1.30.1
    volumes:
      - ./supergraph.graphql:/etc/config/supergraph.graphql
      - ./router/zipkin.router.yaml:/etc/config/configuration.yaml
    command:
      [
        "-c",
        "/etc/config/configuration.yaml",
        "-s",
        "/etc/config/supergraph.graphql",
        "--log",
        "info"
      ]
    ports:
      - 4000:4000
    environment:
      - RUST_BACKTRACE=1
    # environment:
    #   - JAEGER_ENDPOINT=http://jaeger:14268/api/traces
    depends_on:
      - zipkin

  subgraph:
    build: zipkin-subgraph
    ports:
      - 4001:4001
    #environment:
    depends_on:
      - zipkin

  zipkin:
    container_name: zipkin
    image: openzipkin/zipkin:2.24.3
    ports:
      - 9411:9411
