version: 2.1

# These "CircleCI Orbs" are reusable bits of configuration that can be shared
# across projects.  See https://circleci.com/orbs/ for more information.
orbs:
  # Rust steps which are used below (like `rust/install`, `rust/test`) are
  # defined in this orb. For reference, the orb can be found here:
  # https://github.com/CircleCI-Public/rust-orb
  rust: circleci/rust@1.6.0
  gh: circleci/github-cli@1.0.4

executors:
  rust_linux: &rust_linux_executor
    docker:
      - image: cimg/base:stable
    resource_class: medium+
  rust_macos: &rust_macos_executor
    macos:
      xcode: 11.4
  rust_windows: &rust_windows_executor
    machine:
      image: "windows-server-2019-vs2019:stable"
    resource_class: windows.xlarge
    shell: powershell.exe -ExecutionPolicy Bypass

commands:
  initialize_submodules:
    steps:
      - run: git submodule update --recursive --init

  linux_install_baseline:
    steps:
      - run:
          name: Update and install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y libssl-dev cmake
  macos_install_baseline:
    steps:
      - run: echo "HOMEBREW_NO_AUTO_UPDATE=1" >> $BASH_ENV
      - run: echo "export OPENSSL_ROOT_DIR=/usr/local/opt/openssl@1.1" >> $BASH_ENV
      - run: test -e "$OPENSSL_ROOT_DIR"
      - run: brew install cmake

  # This job sets up our nodejs dependencies,
  # and makes sure everything is ready to run integration tests
  macos_prepare_node_env:
    steps:
      #TODO[igni]: check for node version before we try to install it
      # Installing this with the curl nvm command was proving difficult,
      # so I've opted to just install the .pkg.  Should be the same net
      # result, even if liked the opportunity for symmetry with Linux.
      - run:
          name: Installing Node.js with a .pkg.
          command: |
            curl "https://nodejs.org/dist/v${NODE_VERSION}/node-v${NODE_VERSION}.pkg" > "$HOME/Downloads/node.pkg" && sudo installer -store -pkg "$HOME/Downloads/node.pkg" -target "/"
            sudo npm install --global npm@${NPM_VERSION}
      - run:
          name: Assert Node.js version
          command: test "$(node --version)" = "v${NODE_VERSION}"
      - run:
          name: Assert npm version
          command: test "$(npm --version)" = "${NPM_VERSION}"
  linux_prepare_node_env:
    steps:
      #TODO[igni]: check for node version before we try to install it
      - run:
          name: Install nvm
          command: |
            curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash
            echo '. ~/.nvm/nvm.sh' >> $BASH_ENV
      - run:
          name: Install desired Node.js version
          command: |
            nvm install $NODE_VERSION
            nvm alias default $NODE_VERSION
            npm install --global npm@${NPM_VERSION}
      - run:
          name: Assert Node.js version
          command: test "$(node --version)" = "v${NODE_VERSION}"
      - run:
          name: Assert npm version
          command: test "$(npm --version)" = "${NPM_VERSION}"

  windows_prepare_node_env:
    #TODO[igni]: check for node version before we try to install it
    steps:
      - run:
          name: Install desired Node.js version with nvm
          command: |
            nvm install ${Env:NODE_VERSION}
            nvm on
      - run:
          # https://github.com/coreybutler/nvm-windows/issues/300
          # Have to move the command out of the way because it can't
          # overwrite itself otherwise.   This is madness, but apparently
          # accepted.  Other things I tried: using yarn to install npm,
          # using http://npm.im/npm-windows-upgrade and even shouting.
          name: Install specific version of npm in a crazy Windows way
          command: |
            $node_dir = (get-item (get-command npm).source).directory.fullname
            foreach ($cmd in @("npm", "npx")) {
              foreach ($ext in @(".ps1", ".cmd", "")) {
                if (Test-Path "$node_dir/$cmd$ext") {
                  rename-item -path (join-path -path $node_dir -childpath "$cmd$ext") "${cmd}-orig${ext}"
                }
              }
            }
            npm-orig install --global "npm@${Env:NPM_VERSION}"
      - run:
          name: Assert Node.js version
          command: |
            if ((node --version) -Ne "v${Env:NODE_VERSION}") { exit 1 }
      - run:
          name: Assert npm version
          command: |
            if ((npm --version) -Ne "${Env:NPM_VERSION}") { exit 1 }
  windows_prepare_test_env:
    steps:
      - restore_cache:
          keys:
            - subgraph-node-modules-v1-windows-{{ checksum "dockerfiles/federation-demo/federation-demo/package-lock.json" }}
            - subgraph-node-modules-v1-windows
      - run:
          name: npm clean-install
          working_directory: dockerfiles/federation-demo/federation-demo
          command: npm clean-install
      - save_cache:
          key: subgraph-node-modules-v1-windows-{{ checksum "dockerfiles/federation-demo/federation-demo/package-lock.json" }}
          paths:
            - dockerfiles/federation-demo/federation-demo/node_modules

      # TODO: normally xtask can run the federation by itself and it
      #       works on GitHub Actions on Windows. Unfortunately it
      #       doesn't work here on CircleCI on Windows only.
      - run:
          name: start federation-demo (background)
          working_directory: dockerfiles/federation-demo/federation-demo
          command: npm start
          background: true
      - run:
          name: wait for federation demo to start
          command: npx wait-on tcp:4001 tcp:4002 tcp:4003 tcp:4004 tcp:4100

  windows_prepare_rust_env:
    steps:
      #            - run:
      #                # TODO compiling grpcio on Windows is still not working
      #                #      using boringssl gives an error message
      #                #      using openssl hangs indefinitely
      #                name: Install grpcio build dependencies
      #                command: |
      #                  choco install activeperl -y
      #                  choco install cmake -y --installargs 'ADD_CMAKE_TO_PATH=System'
      #                  choco install yasm -y
      #                  choco install openssl -y
      - run:
          name: Install rustup
          environment:
            # Override auto-detection of RAM for Rustc install.
            # https://github.com/rust-lang/rustup/issues/2229#issuecomment-585855925
            RUSTUP_UNPACK_RAM: "21474836480"
          command: |
            $installer_dir = "$Env:TEMP"
            echo "Downloading rustup"
            (New-Object System.Net.WebClient).DownloadFile("https://win.rustup.rs/x86_64", "$installer_dir\rustup-init.exe")
            echo "Installing rustup"
            & $installer_dir\rustup-init.exe --profile minimal --component rustfmt,clippy -y
            exit $LASTEXITCODE
      - run:
          name: Special case for Windows because of ssh-agent
          command: |
            Add-Content -path "${Env:USERPROFILE}\.cargo\config.toml" @"
            [net]
            git-fetch-with-cli = true
            "@
  prepare_rust_env:
    steps:
      - rust/install:
          version: stable

  build_tools:
    parameters:
      os:
        type: string
    steps:
      - restore_cache:
          keys:
            - rust-target-v1-xtask-build-<< parameters.os >>-{{ checksum "Cargo.lock" }}
      - rust/build:
          with_cache: false
          crate: -p xtask
      - save_cache:
          key: rust-target-v1-xtask-build-<< parameters.os >>-{{ checksum "Cargo.lock" }}
          paths:
            - target/
            - ~/.cargo

  xtask_lint:
    steps:
      - run: cargo xtask lint

  build_common_permutations:
    steps:
      - rust/build:
          with_cache: false
          crate: --features otlp-tonic,tls -p apollo-router -p apollo-router-core
      - rust/build:
          with_cache: false
          crate: --features otlp-tonic -p apollo-router -p apollo-router-core
      - rust/build:
          with_cache: false
          crate: --no-default-features --features otlp-http -p apollo-router -p apollo-router-core
  build_all_permutations:
    steps:
      - build_common_permutations
      - rust/build:
          with_cache: false
          crate: --no-default-features --features otlp-grpcio -p apollo-router -p apollo-router-core
  build_workspace:
    parameters:
      os:
        type: string
    steps:
      - restore_cache:
          keys:
            - rust-target-v1-build-<< parameters.os >>-{{ checksum "Cargo.lock" }}
            - rust-target-v1-macos-build
      - build_all_permutations
      - save_cache:
          key: rust-target-v1-build-<< parameters.os >>-{{ checksum "Cargo.lock" }}
          paths:
            - target/
            - ~/.cargo
  windows_build_workspace:
    steps:
      - restore_cache:
          keys:
            - rust-target-v1-build-windows-{{ checksum "Cargo.lock" }}
            - rust-target-v1-build-windows
      - build_common_permutations
      - save_cache:
          key: rust-target-v1-build-windows-{{ checksum "Cargo.lock" }}
          paths:
            - target/
            - C:\\Users\\circleci\.cargo

  windows_test_workspace:
    steps:
      - restore_cache:
          keys:
            - rust-target-v1-test-windows-{{ checksum "Cargo.lock" }}-{{ checksum "dockerfiles/federation-demo/federation-demo/package-lock.json" }}
            - rust-target-v1-test-windows-{{ checksum "Cargo.lock" }}
            - rust-target-v1-test-windows
      - run: cargo xtask test --with-demo
      - save_cache:
          key: rust-target-v1-test-windows-{{ checksum "Cargo.lock" }}-{{ checksum "dockerfiles/federation-demo/federation-demo/package-lock.json" }}
          paths:
            - target/
            - C:\\Users\\circleci\.cargo
  test_workspace:
    parameters:
      os:
        type: string
    steps:
      - restore_cache:
          keys:
            - rust-target-v1-test-<< parameters.os >>-{{ checksum "Cargo.lock" }}-{{ checksum "dockerfiles/federation-demo/federation-demo/package-lock.json" }}
            - rust-target-v1-test-<< parameters.os >>-{{ checksum "Cargo.lock" }}
            - rust-target-v1-test-<< parameters.os >>
      - run: cargo xtask test --with-demo
      - save_cache:
          key: rust-target-v1-test-<< parameters.os >>-{{ checksum "Cargo.lock" }}-{{ checksum "dockerfiles/federation-demo/federation-demo/package-lock.json" }}
          paths:
            - target/
            - ~/.cargo
            - dockerfiles/federation-demo/federation-demo/node_modules

jobs:
  lint:
    parameters:
      platform:
        type: executor
    executor: << parameters.platform >>
    steps:
      - checkout
      - when:
          condition:
            equal: [*rust_linux_executor, << parameters.platform >>]
          steps:
            - linux_install_baseline
            - prepare_rust_env
            - build_tools:
                os: linux
            - xtask_lint
  build:
    environment:
      NODE_VERSION: 14.17.5
      NPM_VERSION: 7.10.0
    parameters:
      platform:
        type: executor
    executor: << parameters.platform >>
    steps:
      - checkout
      - when:
          condition:
            equal: [*rust_linux_executor, << parameters.platform >>]
          steps:
            - linux_install_baseline
            - linux_prepare_node_env
            - prepare_rust_env
            - build_workspace:
                os: linux
      - when:
          condition:
            equal: [*rust_windows_executor, << parameters.platform >>]
          steps:
            - windows_prepare_node_env
            - windows_prepare_rust_env
            - windows_build_workspace
      - when:
          condition:
            equal: [*rust_macos_executor, << parameters.platform >>]
          steps:
            - macos_install_baseline
            - macos_prepare_node_env
            - prepare_rust_env
            - build_workspace:
                os: macos

  test:
    environment:
      NODE_VERSION: 14.17.5
      NPM_VERSION: 7.10.0
    parameters:
      platform:
        type: executor
    executor: << parameters.platform >>
    steps:
      - checkout
      - initialize_submodules
      - when:
          condition:
            equal: [*rust_linux_executor, << parameters.platform >>]
          steps:
            - linux_install_baseline
            - linux_prepare_node_env
            - prepare_rust_env
            - build_tools:
                os: linux
            - test_workspace:
                os: macos
      - when:
          condition:
            equal: [*rust_windows_executor, << parameters.platform >>]
          steps:
            - windows_prepare_node_env
            - windows_prepare_test_env
            - windows_prepare_rust_env
            - build_tools:
                os: windows
            - windows_test_workspace
      - when:
          condition:
            equal: [*rust_macos_executor, << parameters.platform >>]
          steps:
            - macos_install_baseline
            - macos_prepare_node_env
            - prepare_rust_env
            - build_tools:
                os: macos
            - test_workspace:
                os: macos

  build_release:
    parameters:
      platform:
        type: executor
    executor: << parameters.platform >>
    environment:
      # Note: This is a no-op at the second, but bear with me on this.  If this
      # comment is not removed by 2021-06-30 remove it along with the next line.
      # renovate: datasource=github-tags depName=nodejs/node versioning=node
      NODE_VERSION: 14.17.5
      NPM_VERSION: 7.10.0
      RELEASE_BIN: router
      APPLE_TEAM_ID: "YQK948L752"
      APPLE_USERNAME: "opensource@apollographql.com"
      MACOS_PRIMARY_BUNDLE_ID: com.apollographql.router
    steps:
      - checkout
      - run:
          name: Initialize submodules
          command: git submodule update --recursive --init
      - when:
          condition:
            equal: [*rust_macos_executor, << parameters.platform >>]
          steps:
            - run: echo "HOMEBREW_NO_AUTO_UPDATE=1" >> $BASH_ENV
            - run: echo "export OPENSSL_ROOT_DIR=/usr/local/opt/openssl@1.1" >> $BASH_ENV
            - run: test -e "$OPENSSL_ROOT_DIR"
            - run: brew install cmake
            - rust/install:
                version: stable
            - run:
                command: >
                  cargo xtask dist
            - run:
                command: >
                  mkdir -p artifacts
            - run:
                command: >
                  cargo xtask package
                  --apple-team-id ${APPLE_TEAM_ID}
                  --apple-username ${APPLE_USERNAME}
                  --cert-bundle-base64 ${MACOS_CERT_BUNDLE_BASE64}
                  --cert-bundle-password ${MACOS_CERT_BUNDLE_PASSWORD}
                  --keychain-password ${MACOS_KEYCHAIN_PASSWORD}
                  --notarization-password ${MACOS_NOTARIZATION_PASSWORD}
                  --primary-bundle-id ${MACOS_PRIMARY_BUNDLE_ID}
                  --output artifacts/
      - when:
          condition:
            equal: [*rust_linux_executor, << parameters.platform >>]
          steps:
            - run:
                name: Update and install dependencies
                command: |
                  sudo apt-get update
                  sudo apt-get install -y libssl-dev
            - rust/install:
                version: stable
            - run:
                command: >
                  cargo xtask dist
            - run:
                command: >
                  mkdir -p artifacts
            - run:
                command: >
                  cargo xtask package --output artifacts/
      - when:
          condition:
            equal: [*rust_windows_executor, << parameters.platform >>]
          steps:
            - run:
                name: Install rustup
                environment:
                  # Override auto-detection of RAM for Rustc install.
                  # https://github.com/rust-lang/rustup/issues/2229#issuecomment-585855925
                  RUSTUP_UNPACK_RAM: "21474836480"
                command: |
                  $installer_dir = "$Env:TEMP"
                  echo "Downloading rustup"
                  (New-Object System.Net.WebClient).DownloadFile("https://win.rustup.rs/x86_64", "$installer_dir\rustup-init.exe")
                  echo "Installing rustup"
                  & $installer_dir\rustup-init.exe --profile minimal --component rustfmt,clippy -y
                  exit $LASTEXITCODE
            - run:
                name: Special case for Windows because of ssh-agent
                command: |
                  Add-Content -path "${Env:USERPROFILE}\.cargo\config.toml" @"
                  [net]
                  git-fetch-with-cli = true
                  "@
            - run:
                command: >
                  cargo xtask dist
            - run:
                command: >
                  mkdir -p artifacts
            - run:
                command: >
                  cargo xtask package --output artifacts
      - persist_to_workspace:
          root: artifacts
          paths:
            - "*"

  publish_github_release:
    docker:
      - image: cimg/base:stable
    resource_class: small
    environment:
      VERSION: << pipeline.git.tag >>
    steps:
      - checkout
      - attach_workspace:
          at: artifacts
      - gh/setup
      - run:
          command: >
            cd artifacts && sha256sum *.tar.gz > sha256sums.txt
      - run:
          command: >
            cd artifacts && md5sum *.tar.gz > md5sums.txt
      - run:
          command: >
            cd artifacts && sha1sum *.tar.gz > sha1sums.txt
      - run:
          command: >
            gh release create $VERSION --notes-file CHANGELOG.md --title $VERSION artifacts/*

workflows:
  ci_checks:
    jobs:
      - lint:
          matrix:
            parameters:
              platform: [rust_linux]
      - build:
          matrix:
            parameters:
              platform: [rust_macos, rust_windows, rust_linux]
      - test:
          matrix:
            parameters:
              platform: [rust_macos, rust_windows, rust_linux]
  release:
    jobs:
      - build_release:
          matrix:
            parameters:
              platform: [rust_macos, rust_windows, rust_linux]
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
      - publish_github_release:
          requires: [build_release]
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
