[package]
name = "apollo-router"
version = "0.1.0-alpha.2"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license-file = "./LICENSE"

[[bin]]
name = "router"
path = "src/main.rs"

[features]
default = ["otlp-grpc"]
otlp-grpc = [
    "opentelemetry-otlp/tonic",
    "opentelemetry-otlp/tonic-build",
    "opentelemetry-otlp/prost",
    "opentelemetry-otlp/tls",
    "tonic",
    "tonic/transport",
    "tonic/tls",
]
otlp-http = ["opentelemetry-otlp/http-proto"]

[dependencies]
anyhow = "1.0.52"
apollo-router-core = { path = "../apollo-router-core" }
async-trait = "0.1.52"
atty = "0.2.14"
bytes = "1.1.0"
derivative = "2.2.0"
derive_more = "0.99.17"
directories = "4.0.1"
displaydoc = "0.2"
futures = { version = "0.3.19", features = ["thread-pool"] }
hotwatch = "0.4.6"
hyper = { version = "0.14.16", features = ["server"] }
once_cell = "1.9.0"
opentelemetry = { version = "0.16.0", features = ["rt-tokio", "serialize"] }
opentelemetry-jaeger = { version = "0.15.0", features = [
    "collector_client",
    "rt-tokio",
] }
opentelemetry-otlp = { version = "0.9.0", default-features = false, features = [
    "serialize",
], optional = true }
reqwest = { version = "0.11.8", features = ["json", "stream"] }
reqwest-middleware = "0.1.3"
reqwest-tracing = { version = "0.2", features = ["opentelemetry_0_16"] }
serde = { version = "1.0.133", features = ["derive", "rc"] }
serde_json = "1.0.74"
serde_yaml = "0.8.23"
structopt = "0.3.25"
task-local-extensions = "0.1.1"
thiserror = "1.0.30"
tokio = { version = "1.15.0", features = ["full"] }
# don't bump it to 0.6 until opentelemetry-otlp does
tonic = { version = "0.5.2", optional = true }
tower = "0.4.11"
tower-http = {version = "0.2.0", features = ["trace"] }
tracing = "0.1.29"
tracing-futures = "0.2.5"
tracing-opentelemetry = "0.16.0"
tracing-subscriber = { version = "0.3.5", features = ["json"] }

typed-builder = "0.9.1"
url = { version = "2.2.2", features = ["serde"] }
warp = { version = "0.3.2", default-features = false, features = [
    "compression",
] }

[dev-dependencies]
httpmock = "0.6.5"
insta = "1.10.0"
maplit = "1.0.2"
mockall = "0.11.0"
reqwest = { version = "0.11.8", features = ["json", "stream"] }
serde_json_bytes = { version = "0.1.2", features = ["preserve_order"] }
test-log = { version = "0.2.8", default-features = false, features = ["trace"] }
tracing-subscriber = { version = "0.3", default-features = false, features = [
    "env-filter",
    "fmt",
] }
uuid = { version = "0.8.2", features = ["serde", "v4"] }

[[test]]
name = "integration_tests"
path = "tests/integration_tests.rs"
