[package]
name = "apollo-router"
version = "0.1.0-alpha.6"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license-file = "./LICENSE"
publish = false

[[bin]]
name = "router"
path = "src/main.rs"

[features]
default = ["otlp-grpc"]
otlp-grpc = [
    "opentelemetry-otlp/tonic",
    "opentelemetry-otlp/tonic-build",
    "opentelemetry-otlp/prost",
    "opentelemetry-otlp/tls",
    "tonic",
    "tonic/transport",
    "tonic/tls",
]
otlp-http = ["opentelemetry-otlp/http-proto"]

[dependencies]
anyhow = "1.0.53"
apollo-parser = { git = "https://github.com/apollographql/apollo-rs.git", rev = "9a14371f3e5352920c74dcae85fa4e71b24f0449" }
apollo-router-core = { path = "../apollo-router-core" }
apollo-uplink = { path = "../uplink" }
async-trait = "0.1.52"
atty = "0.2.14"
bytes = "1.1.0"
derivative = "2.2.0"
derive_more = "0.99.17"
directories = "4.0.1"
displaydoc = "0.2"
futures = { version = "0.3.21", features = ["thread-pool"] }
hotwatch = "0.4.6"
http = "0.2.6"
hyper = { version = "0.14.17", features = ["server"] }
once_cell = "1.9.0"
opentelemetry = { version = "0.16.0", features = ["rt-tokio", "serialize"] }
opentelemetry-jaeger = { version = "0.15.0", features = [
    "collector_client",
    "reqwest_collector_client",
    "rt-tokio",
] }
opentelemetry-otlp = { version = "0.9.0", default-features = false, features = [
    "serialize",
], optional = true }
prost-types = "0.9.0"
reqwest = { version = "0.11.9", features = ["json", "stream"] }
reqwest-middleware = "0.1.4"
reqwest-tracing = { version = "0.2", features = ["opentelemetry_0_16"] }
schemars = { version="0.8.8", features = ["url"] }
serde = { version = "1.0.136", features = ["derive", "rc"] }
serde_json = "1.0.79"
serde_yaml = "0.8.23"
startup = "0.1.1"
static_assertions = "1.1.0"
structopt = "0.3.26"
task-local-extensions = "0.1.1"
thiserror = "1.0.30"
tokio = { version = "1.16.1", features = ["full"] }
# TODO wait for tokio-util > 0.6.9 to release
tokio-util = { git = "https://github.com/tokio-rs/tokio.git", rev = "91b9850", features = ["net", "codec"] }
# don't bump it to 0.6 until opentelemetry-otlp does
tonic = { version = "0.5.2", optional = true }
tower = { version="0.4.12", features = ["util"] }
tower-http = { version = "0.2.2", features = ["trace"] }
tower-service = "0.3.1"
tracing = "0.1.31"
tracing-opentelemetry = "0.16.0"
tracing-subscriber = { version = "0.3.9", features = ["env-filter", "json"] }
typed-builder = "0.9.1"
url = { version = "2.2.2", features = ["serde"] }
apollo-spaceport = { path = "../apollo-spaceport" }
warp = { version = "0.3.2", default-features = false, features = [
    "compression",
] }

[dev-dependencies]
httpmock = "0.6.6"
insta = "1.12.0"
maplit = "1.0.2"
mockall = "0.11.0"
reqwest = { version = "0.11.9", features = ["json", "stream"] }
serde_json_bytes = { version = "0.2.0", features = ["preserve_order"] }
tempfile = "3.3.0"
test-log = { version = "0.2.8", default-features = false, features = ["trace"] }
test-span = "0.3"
tower-test = "0.4.0"
tracing-subscriber = { version = "0.3", default-features = false, features = [
    "env-filter",
    "fmt",
] }
uuid = { version = "0.8.2", features = ["serde", "v4"] }
url = "2.2.2"
[[test]]
name = "integration_tests"
path = "tests/integration_tests.rs"
