[package]
name = "apollo-router"
version = "0.1.0-preview.6"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license-file = "./LICENSE"
publish = false

[[bin]]
name = "router"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.55"
apollo-parser = { git = "https://github.com/apollographql/apollo-rs.git", rev = "e707e0f78f41ace1c3ecfe69bc10f4144ffbf7ac" }
apollo-router-core = { path = "../apollo-router-core" }
apollo-uplink = { path = "../uplink" }
async-trait = "0.1.53"
atty = "0.2.14"
bytes = "1.1.0"
clap = { version = "3.1.3", default-features = false, features = ["env", "derive", "std"] }
derivative = "2.2.0"
derive_more = {version = "0.99.17", default-features = false, features = ["from", "display"] }
directories = "4.0.1"
displaydoc = "0.2"
envmnt = "0.9.1"
futures = { version = "0.3.21", features = ["thread-pool"] }
hotwatch = "0.4.6"
http = "0.2.6"
humantime = "2.1.0"
humantime-serde = "1.0.1"
hyper = { version = "0.14.18", features = ["server"] }
itertools = "0.10.3"
indexmap = "1.8.1"
jsonschema = { version = "0.16.0", default-features = false }
once_cell = "1.9.0"
opentelemetry = { version = "0.17.0", features = [
    "rt-tokio",
    "serialize",
    "metrics",
] }
opentelemetry-datadog = { version = "0.5.0", features = ["reqwest-client"] }
opentelemetry-http = "0.6.0"
opentelemetry-jaeger = { version = "0.16.0", features = [
    "collector_client",
    "reqwest_collector_client",
    "rt-tokio",
] }
opentelemetry-otlp = { version = "0.10.0", default-features = false, features = [
    "tonic",
    "tonic-build",
    "prost",
    "tls",
    "http-proto",
    "metrics",
] }
opentelemetry-semantic-conventions = "0.9.0"
opentelemetry-zipkin = { version = "0.15.0", default-features = false, features = [
    "reqwest-blocking-client",
    "reqwest-rustls",
] }
opentelemetry-prometheus = "0.10.0"
prometheus = "0.13"
regex = "1.5.4"
reqwest = { version = "0.11.10", default-features = false, features = [
    "rustls-tls",
    "json",
    "stream",
] }
schemars = { version = "0.8.8", features = ["url"] }
serde = { version = "1.0.136", features = ["derive", "rc"] }
serde_json_bytes = { version = "0.2.0", features = ["preserve_order"] }
serde_json = { version = "1.0.79", features = ["preserve_order"] }
serde_yaml = "0.8.23"
thiserror = "1.0.30"
tokio = { version = "1.17.0", features = ["full"] }
tokio-util = { version = "0.7.1", features = ["net", "codec"] }
tonic = { version = "0.6.2", features = ["transport", "tls"] }
tower = { version = "0.4.12", features = ["full"] }
tower-http = { version = "0.2.5", features = ["trace", "cors"] }
tower-service = "0.3.1"
tracing = "0.1.34"
tracing-core = "0.1.26"
tracing-opentelemetry = "0.17.2"
tracing-subscriber = { version = "0.3.11", features = ["env-filter", "json"] }
typed-builder = "0.10.0"
url = { version = "2.2.2", features = ["serde"] }
apollo-spaceport = { path = "../apollo-spaceport" }
axum = { version = "0.5.4", features = ["headers", "json", "original-uri"] }
rhai = { version = "1.5.0", features = ["sync", "serde", "internals"] }
libc = "0.2.124"
yaml-rust = "0.4.5"

[dev-dependencies]
insta = "1.12.0"
jsonpath_lib = "0.3.0"
maplit = "1.0.2"
mockall = "0.11.0"
reqwest = { version = "0.11.10", default-features = false, features = [
    "json",
    "stream",
] }
tempfile = "3.3.0"
test-log = { version = "0.2.10", default-features = false, features = [
    "trace",
] }
test-span = "0.4"
tower-test = "0.4.0"
tracing-subscriber = { version = "0.3", default-features = false, features = [
    "env-filter",
    "fmt",
] }
uuid = { version = "1.0.0", features = ["serde", "v4"] }
url = "2.2.2"
walkdir = "2.3.2"
[[test]]
name = "integration_tests"
path = "tests/integration_tests.rs"
