[package]
name = "apollo-router"
version = "0.12.1-alpha-defer4"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license = "Elastic-2.0"
publish = false

[[bin]]
name = "router"
path = "src/main.rs"

[features]
# Prevents the query execution to continue if any error occurs while fetching
# the data of a subgraph. This is useful in development as you want to be
# alerted early when something is wrong instead of receiving an invalid result.
failfast = []

[dependencies]
access-json = "0.1.0"
anyhow = "1.0.58"
apollo-parser = "0.2.8"
apollo-spaceport = { path = "../apollo-spaceport" }
apollo-uplink = { path = "../uplink" }
async-compression = { version = "0.3.14", features = [
    "tokio",
    "brotli",
    "gzip",
    "deflate",
] }
async-trait = "0.1.56"
atty = "0.2.14"
axum = { version = "0.5.12", features = ["headers", "json", "original-uri"] }
backtrace = "0.3.66"
buildstructor = "0.3.2"
bytes = "1.1.0"
clap = { version = "3.2.10", default-features = false, features = [
    "env",
    "derive",
    "std",
] }
dashmap = { version = "5.3.4", features = ["serde"] }
deadpool = { version = "0.9.5", features = ["rt_tokio_1"] }
derivative = "2.2.0"
derive_more = { version = "0.99.17", default-features = false, features = [
    "from",
    "display",
] }
directories = "4.0.1"
displaydoc = "0.2"
envmnt = "0.10.0"
futures = { version = "0.3.21", features = ["thread-pool"] }
hex = "0.4.3"
hotwatch = "0.4.6"
http = "0.2.8"
http-body = "0.4.5"
humantime = "2.1.0"
humantime-serde = "1.1.1"
hyper = { version = "0.14.20", features = ["server", "client"] }
hyper-rustls = { version = "0.23.0", features = ["http1", "http2"] }
include_dir = "0.7.2"
indexmap = "1.9.1"
itertools = "0.10.3"
jsonschema = { version = "0.16.0", default-features = false }
lazy_static = "1.4.0"
libc = "0.2.126"
lru = "0.7.7"
mockall = "0.11.1"
moka = { version = "0.9.0", features = ["future", "futures-util"] }
miette = { version = "5.1.1", features = ["fancy"] }
mime = "0.3.16"
multimap = "0.8.3"
once_cell = "1.13.0"
opentelemetry = { version = "0.17.0", features = [
    "rt-tokio",
    "serialize",
    "metrics",
] }
opentelemetry-datadog = { version = "0.5.0", features = ["reqwest-client"] }
opentelemetry-http = "0.6.0"
opentelemetry-jaeger = { version = "0.16.0", features = [
    "collector_client",
    "reqwest_collector_client",
    "rt-tokio",
] }
opentelemetry-otlp = { version = "0.10.0", default-features = false, features = [
    "tonic",
    "tonic-build",
    "prost",
    "tls",
    "http-proto",
    "metrics",
    "reqwest-client",
] }
opentelemetry-semantic-conventions = "0.9.0"
opentelemetry-zipkin = { version = "0.15.0", default-features = false, features = [
    "reqwest-client",
    "reqwest-rustls",
] }
opentelemetry-prometheus = "0.10.0"
paste = "1.0.7"
prometheus = "0.13"
rhai = { version = "1.8.0", features = ["sync", "serde", "internals"] }
regex = "1.6.0"
reqwest = { version = "0.11.11", default-features = false, features = [
    "rustls-tls",
    "json",
    "stream",
] }
router-bridge = { git = "https://github.com/apollographql/federation-rs.git", branch = "geal/defer" }
schemars = { version = "0.8.10", features = ["url"] }
sha2 = "0.10.2"
serde = { version = "1.0.139", features = ["derive", "rc"] }
serde_json_bytes = { version = "0.2.0", features = ["preserve_order"] }
serde_json = { version = "1.0.82", features = ["preserve_order"] }
serde_urlencoded = "0.7.1"
serde_yaml = "0.8.25"
startup = "0.1.1"
static_assertions = "1.1.0"
sys-info = "0.9.1"
thiserror = "1.0.31"
tokio = { version = "1.19.2", features = ["full"] }
tokio-stream = { version = "0.1.9", features = ["sync"] }
tokio-util = { version = "0.7.3", features = ["net", "codec"] }
tonic = { version = "0.6.2", features = ["transport", "tls"] }
tower = { version = "0.4.13", features = ["full"] }
tower-http = { version = "0.3.4", features = [
    "trace",
    "cors",
    "compression-br",
    "compression-deflate",
    "compression-gzip",
    "decompression-br",
    "decompression-deflate",
    "decompression-gzip",
] }
tower-service = "0.3.2"
tower-test = "0.4.0"
tracing = "=0.1.34"
tracing-core = "=0.1.26"
tracing-futures = { version = "0.2.5", features = ["futures-03"] }
tracing-opentelemetry = "0.17.4"
tracing-subscriber = { version = "0.3.11", features = ["env-filter", "json"] }
url = { version = "2.2.2", features = ["serde"] }
urlencoding = "2.1.0"
yaml-rust = "0.4.5"


[target.'cfg(macos)'.dependencies]
uname = "0.1.1"

[target.'cfg(unix)'.dependencies]
uname = "0.1.1"

[dev-dependencies]
insta = "1.15.0"
jsonpath_lib = "0.3.0"
maplit = "1.0.2"
mockall = "0.11.1"
reqwest = { version = "0.11.11", default-features = false, features = [
    "json",
    "stream",
] }
tempfile = "3.3.0"
test-log = { version = "0.2.10", default-features = false, features = [
    "trace",
] }
test-span = "0.6"
tower-test = "0.4.0"
tracing-subscriber = { version = "0.3", default-features = false, features = [
    "env-filter",
    "fmt",
] }
tracing-test = "0.2.2"
uuid = { version = "1.1.2", features = ["serde", "v4"] }
url = "2.2.2"
walkdir = "2.3.2"
[[test]]
name = "integration_tests"
path = "tests/integration_tests.rs"
