[package]
name = "apollo-federation"
version = "1.49.1-rc.0"
authors = ["The Apollo GraphQL Contributors"]
edition = "2021"
description = "Apollo Federation"
documentation = "https://docs.rs/apollo-federation"
repository = "https://github.com/apollographql/router"
license = "Elastic-2.0"
autotests = false                                      # Integration tests are modules of tests/main.rs

[dependencies]
apollo-compiler.workspace = true
time = { version = "0.3.34", default-features = false, features = [
    "local-offset",
] }
derive_more = "0.99.17"
indexmap = "2.2.3"
itertools = "0.13.0"
lazy_static = "1.4.0"
multimap = "0.10.0"
nom = "7.1.3"
petgraph = "0.6.4"
serde.workspace = true
serde_json.workspace = true
serde_json_bytes.workspace = true
strum = "0.26.0"
strum_macros = "0.26.0"
thiserror = "1.0"
url = "2"

[dev-dependencies]
hex.workspace = true
insta.workspace = true
sha1.workspace = true
tempfile.workspace = true

[[test]]
name = "main"
