[package]
name = "apollo-router-benchmarks"
version = "0.1.0-preview.6"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license = "LicenseRef-ELv2"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dev-dependencies]
apollo-router = { path = "../apollo-router" }
apollo-router-core = { path = "../apollo-router-core" }
criterion = { version = "0.3", features = ["async_tokio", "async_futures"] }
futures = "0.3.21"
once_cell = "1"
serde_json = { version = "1.0.79", features = ["preserve_order"] }
serde_json_bytes = { version = "0.2.0", features = ["preserve_order"] }
tokio = { version = "1", features = ["full"] }
tracing-subscriber = { version = "0.3.11", features = ["json", "env-filter"] }
async-trait = "0.1.53"
tower = "0.4.12"


[[bench]]
name = "basic_composition"
harness = false
