[package]
name = "apollo-router-benchmarks"
version = "1.5.0"
authors = ["Apollo Graph, Inc. <packages@apollographql.com>"]
edition = "2021"
license = "LicenseRef-ELv2"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dev-dependencies]
apollo-router = { path = "../apollo-router" }
criterion = { version = "0.4", features = ["async_tokio", "async_futures"] }
futures = "0.3"
once_cell = "1"
serde_json = { version = "1", features = ["preserve_order"] }
serde_json_bytes = { version = "0.2.0", features = ["preserve_order"] }
tokio = { version = "1", features = ["full"] }
tracing-subscriber = { version = "0.3", features = ["json", "env-filter"] }
async-trait = "0.1"
tower = "0.4"


[[bench]]
name = "basic_composition"
harness = false
