version: 2.1

# Circle CI dependencies.
# Rust Orb: https://github.com/CircleCI-Public/rust-orb
# Github Orb: https://github.com/CircleCI-Public/github-cli-orb
orbs:
  rust: circleci/rust@1.6.1
  gh: circleci/github-cli@2.2.0
  secops: apollo/circleci-secops-orb@2.0.6

# We run jobs on the following platforms: linux, macos and windows.
# These are their specifications:
executors:
  linux: &linux
    docker:
      - image: cimg/base:stable
    resource_class: medium+
  macos: &macos
    macos:
      xcode: "13.4"
  windows: &windows
    machine:
      image: 'windows-server-2019-vs2019:stable'
    resource_class: windows.xlarge
    shell: powershell.exe -ExecutionPolicy Bypass

# Job filter for release jobs
crate_release: &crate_release
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v[0-9]+\.[0-9]+\.[0-9]+(\-[0-9a-z]+)?+$/

# There are following workflows:
# - lint
#   - run on linux on stable rust
#   - run `cargo clippy` and `cargo fmt` checks
# - test
#   - tests are run on linux and macos using stable rust
# - release
#   - publish to crates.io using stable rust on linux
# - security-scans
workflows:
  lint:
    jobs:
      - lint:
          name: Lint
          matrix:
            parameters:
              platform: [linux]
              rust_channel: [stable]
  test:
    jobs:
      - test:
          name: Test (<< matrix.rust_channel >> rust on << matrix.platform >>)
          matrix:
            parameters:
              platform: [linux, macos]
              rust_channel: [stable]
  wasm:
    jobs:
      - wasm:
          name: Compile to wasm (stable rust on linux)
          matrix:
            parameters:
              platform: [linux]
              rust_channel: [stable]
  release:
    jobs:
      - test:
          name: Test stable rust on linux
          matrix:
            parameters:
              platform: [linux]
              rust_channel: [stable]
          <<: *crate_release
      - publish:
          name: Publish to crates.io
          matrix:
            parameters:
              platform: [linux]
              rust_channel: [stable]
          requires:
            - "Test stable rust on linux"
          <<: *crate_release

  security-scans:
    jobs:
      - secops/gitleaks:
          context:
            - platform-docker-ro
            - github-orb
            - secops-oidc
          git-base-revision: <<#pipeline.git.base_revision>><<pipeline.git.base_revision>><</pipeline.git.base_revision >>
          git-revision: << pipeline.git.revision >>
      - secops/semgrep:
          context:
            - secops-oidc
            - github-orb
          git-base-revision: <<#pipeline.git.base_revision>><<pipeline.git.base_revision>><</pipeline.git.base_revision >>

# Details of the two jobs: lint and test.
jobs:
  lint:
    parameters:
      rust_channel:
        type: enum
        enum: ["stable", "nightly"]
        default: stable
      platform:
        type: executor
    executor: << parameters.platform >>
    steps:
      - checkout
      - install_system_deps:
          rust_channel: << parameters.rust_channel >>
          platform: << parameters.platform >>
      - run:
          name: Run cargo clippy
          command: cargo clippy --all-targets --all-features -- -D warnings && cargo clippy --benches
      - run:
          name: Run cargo fmt check
          command: rustup component add rustfmt && cargo fmt --all -- --check

  test:
    parameters:
      rust_channel:
        type: enum
        enum: ["stable", "nightly"]
        default: stable
      platform:
        type: executor
    executor: << parameters.platform >>
    steps:
      - checkout
      - install_system_deps:
          rust_channel: << parameters.rust_channel >>
          platform: << parameters.platform >>
      - run:
          name: Run cargo test
          command: cargo test --all-features

  wasm:
    parameters:
      rust_channel:
        type: enum
        enum: ["stable", "nightly"]
        default: stable
      platform:
        type: executor
    executor: << parameters.platform >>
    steps:
      - checkout
      - install_system_deps:
          rust_channel: << parameters.rust_channel >>
          platform: << parameters.platform >>
      - run:
          name: Build to wasm target
          command: rustup target add wasm32-unknown-unknown && cargo build --target wasm32-unknown-unknown

  publish:
    parameters:
      rust_channel:
        type: enum
        enum: ["stable"]
        default: stable
      platform:
        type: executor
    executor: << parameters.platform >>
    steps:
      - checkout
      - install_system_deps:
          rust_channel: << parameters.rust_channel >>
          platform: << parameters.platform >>
      - run:
          name: Run cargo publish
          command: cargo publish

# The folowing are reusable command snippets can be referred to in any `steps`.
# Commands we currently have: install_system_deps, install_rust_toolchain.
commands:
  install_system_deps:
    parameters:
      platform:
        type: executor
      rust_channel:
        type: enum
        enum: ["stable", "nightly"]
    steps:
      - when:
          condition:
            equal: [*linux, << parameters.platform >>]
          steps:
            - run:
                name: Update apt repositories
                command: sudo apt-get update
            - run:
                name: Check glibc version
                command: ldd --version
            - run:
                name: Install OpenSSL
                command: sudo apt-get install -y libssl-dev

      - when:
          condition:
            equal: [*macos, << parameters.platform >>]
          steps:
            - run:
                name: Skip homebrew update
                command: echo "HOMEBREW_NO_AUTO_UPDATE=1" >> $BASH_ENV
            - run:
                name: Install OpenSSL@1.1
                command: brew install openssl@1.1

      - install_rust_toolchain:
          rust_channel: << parameters.rust_channel >>
          platform: << parameters.platform >>

  install_rust_toolchain:
    parameters:
      rust_channel:
        type: enum
        enum: ["stable", "nightly"]
      platform:
        type: executor
    steps:
      - unless:
          condition:
            equal: [*windows, << parameters.platform >>]
          steps:
            - rust/install:
                version: << parameters.rust_channel >>

      - when:
          condition:
            equal: [*windows, << parameters.platform >>]
          steps:
            - run:
                name: Install rustup
                environment:
                  # Override auto-detection of RAM for rustc install.
                  # https://github.com/rust-lang/rustup/issues/2229#issuecomment-585855925
                  RUSTUP_UNPACK_RAM: "21474836480"
                command: |
                  $installer_dir = "$Env:TEMP"
                  echo "Downloading rustup"
                  (New-Object System.Net.WebClient).DownloadFile("https://win.rustup.rs/x86_64", "$installer_dir\rustup-init.exe")
                  echo "Installing rustup"
                  & $installer_dir\rustup-init.exe --profile minimal -y
                  exit $LASTEXITCODE
            - run:
                name: Configure cargo for Windows
                command: |
                  Add-Content -path "${Env:USERPROFILE}\.cargo\config.toml" @"
                  [net]
                  git-fetch-with-cli = true
                  "@
