name: NEXT_CHANGELOG.md reminder
on:
  pull_request:
    branches: [ dev ]
  workflow_dispatch:

jobs:
  remind_missing_changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Missing NEXT_CHANGELOG.md Reminder
        uses: mskelton/changelog-reminder-action@v3.0.0
        with:
          changelogRegex: NEXT_CHANGELOG.md
          message: "@${{ github.actor }}, please add a `/NEXT_CHANGELOG.md` entry for this PR to the appropriate section!"
